input[type="number"] {
  padding: 5px;
  margin: 5px;
  width: 100px;
  background-color: rgb(251, 251, 251);
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 20px;
}

body {
  background-color: rgb(250, 250, 252);
}

.header {
  text-transform: capitalize;

  font-family: "Redressed", cursive;
}

label {
  padding: 8px;
}

h1,
h2,
h4 {
  font-family: Fira Sans;
}
label,
p {
  font-family: "Roboto Mono";
}

.container {
  margin: auto;
  width: 50%;
}
.button-container {
  width: 100%;
  margin: auto;
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
button {
  /* flex: 12; */
  padding: 10px;
  /* border-radius: 3px; */
  width: 10%;
  background-color: rgb(224, 16, 16);
  border: none;
  font-size: larger;
  color: white;
  float: right;
}
button:hover {
  background-color: rgb(255, 32, 32);
}

@media screen and (max-width: 600px) {
  .container {
    margin: auto;
    width: 90%;
  }
  .button-container {
    display: block;
  }
}
